
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }

.nav-bar {
    position: relative;
    height: 338px;
    left: 0px;
    top: 0px;

    background: #C4C4C4;
}

.wrapper {
    width: 1320;
    margin: 0 auto;
}

nav .title{
    position: relative;
    
    height: 42px;
    left: calc(50% - 516px/2 - 368px);
    top: 148px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

nav .home a
{
    
    position: absolute;
    width: 65px;
    height: 28px;
    right: 508px;
    top: 16px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}

nav .comp a
{
    position: absolute;
    width: 183px;
    height: 28px;
    right: 279px;
    top: 16px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}

nav .data a
{
    position: absolute;
    width: 193px;
    height: 28px;
    right: 41px;
    top: 16px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;

}
