
body {
    margin: 0;
}

.App {
    text-align: center;
    background: #ffffff !important;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #fff !important;
    min-height: 10vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.jumbo {
    height: 600px;
    justify-content: center;
}

.jumbotext {
    margin-top: 150px;
    color: white;
    text-align: left;
}

.jumbotext .row p {
    font-weight: 200;
    font-size: 20px;
}

.btn-primary {
    border-radius: 0;
}

.jumbotext h1 {
    font-weight: 700;
}




/*--------------------------------------------------------------
# visualization Us
--------------------------------------------------------------*/

#visualization {
    margin-top: 90px; 
}

.visualization .info-box {
    
    text-align: left; 
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px 50px 40px 40px;
    margin-bottom: 30px;
    width: 100%;
  }
  

  
  .visualization .info-box h3 {
    font-size: 20px;
    color: #1d428a;
    font-weight: 700;
    margin: 10px 0;
  }
  
  /* .visualization .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  } */

  .visIcon {
      width: 45px;
      margin-right: 0.3em; 
  }

