.footer-bottom span {
    font-weight: 200;
}

.footer-middle .attribution a {
    color: #3396ff; 
    text-decoration: underline;
}

.footer-middle h6 {
    text-transform: uppercase;
    font-weight: 700;
    
}

.footer-middle ul a {
    color: #fff; 
    margin-left: -1em; 
    margin-bottom: -10px;
}

.footer-middle ul {
    margin-top: -10px;
}
.footer-bottom {
    margin-top: 1em;
}