.footer-bottom span {
    font-weight: 200;
}

.footer-bottom span a {
    color: #fff; 
    text-decoration: underline;
}

.footer-middle h5 {
    text-transform: uppercase;
    font-weight: 600;
}

.footer-middle ul a {
    color: #fff; 
    margin-left: -1em; 
    margin-bottom: -10px;
}

.footer-middle ul {
    margin-top: -10px;
}
.footer-bottom {
    margin-top: 1em;
}