.header {
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 230px;
    padding: 1%;
}

.title{
    position: relative;
    
    height: 42px;
    left: calc(50% - 516px/2 - 368px);
    top: 100px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.nav-logo {
    
    height: 50px;
    width: 50px;
    padding: 10%;
}

.nav-logo:hover {

}

.nav-items {
    display:flex;
    margin-left: auto;
    margin-right: 5%;
    align-items: center;
}

.nav-link {
    background-color: #09d3ac;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #08bd9a;
}

